<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".cammon.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClassManager"
        tools:targetApi="31">
        <activity
            android:name=".presentation.ui.Homework.EditNote"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.ViewPage.ViewPage"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.Homework.AddHomework"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.ExaminationTeste"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.Examination"
            android:exported="false"
            android:label="@string/title_activity_examination"
            android:theme="@style/Theme.ClassManager" />
        <activity
            android:name=".presentation.ui.ReportCard"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.ReportClass"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.Multimedia"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.Fee"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.Attendance"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.Noticies"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.Profile"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.SignIn"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.Menu.Menu"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.Calendar"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.Home.Home"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.SplashScreen.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>